include _common/_mixins
doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
html(lang='ru-Ru')
    head
        meta(charset="utf-8")
        //meta(name="viewport" content="device-width")
        link(rel="stylesheet" type='text/css' href="bower/slider/jquery-ui.css")
        link(rel="stylesheet" type='text/css' href="/css/main.css")

        title
            block title
    body
        .wrapper
            .maincontent
                include _common/_header
                +nav('navigation', ['Планшеты', 'Мобильные телефоны', "Mp3 плееры", "Персональные компьютеры","Ноутбуки","Аксессуары","Бытовая техника"], 2)
                .content-wrapper

                    .centering
                        //breadcrumb
                        +breadcrumbs("breadcrumbs",["Главная","Каталог","Мобильные телефоны"])
                        .content
                            .content__inner
                                block content
        footer.footer
            .centering
                .footer__content
                    | &copy; Все права защищены
        script(src="bower/jquery/dist/jquery.js" type="text/javascript")
        script(type='text/javascript' src="bower/slider/jquery-ui.js")
        script(src="js/main.js" type="text/javascript")