
.socials__link {
  display: block;
}

//$icons-layout: horizontal;
//$icons-spacing: 40px;
//@import "icons/*.png";

$socials: fb, vk, tw;

$socials-map: sprite-map('header/*.png', $spacing: 40px);

@each $social in $socials {
  .socials__link_#{$social} {
    @include get-sprite($socials-map, $social);
    &:hover {
      @include get-sprite($socials-map, $social+'-hover');
    }
  }
}

//* {outline: 1px dashed black;}
.socials {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.socials__item {
  display: inline-block;
  margin-right: 10px;
}

.header__top {
  background: white;
  border-bottom: 2px solid $border-color;
}

.header__bottom {
  background: $bkg-color;
}

.header__top .centering {
  min-height: 77px;
}

.header__bottom .centering {
  min-height: 94px;
}

.header__address {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url("../../img/map-pin.png") no-repeat;
  padding-left: 20px;
}

.header__phone {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: url('../../img/telephone.png') no-repeat;
  padding-left: 20px;
}

.header__phone-number {
  text-decoration: none;
  color: black;
}

.header__logo {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 238px;
  max-height: 36px;
  overflow: hidden;
}

.header__search {
  position: absolute;
  left: 27%;
  top: 50%;
  transform: translateY(-50%);
  min-height: 26px;
  border-radius: 4px;
  //border: 1px solid #dee1e4;
  //overflow: hidden;

}

.header__search__input {
  padding: 4px 0px 4px 10px;
  border: 0;
  width: 287px;
  min-height: inherit;
  background: white;
  border: 1px solid #dee1e4;
  border-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;

}

.header__search__button {
  color: white;
  background: $myOrange;
  border: 8px solid $myOrange;
  box-shadow: none;
  //height:32px;
  height: inherit;
  margin-left: -5px;
  //overflow: hidden;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  font-size: 16px;
}

.header__links {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.header__links_item {
  margin-left: 25px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  &hover {
    color: $myOrange;
  }

}