.navigation {
  background: white;
  border-bottom: 2px solid $border-color;
  margin-bottom: 25px;
  font-size:0;
}
.navigation__item{
  display: inline-block;
}
.navigation__list {
  margin: 0 auto;
  width: 872px;
}
.navigation__link {
  display: block;
  text-decoration: none;
  padding: 15px 10px;
  font-size: 14px;

  &:hover {
    background: #e4e2e2;
  }
  &:active {
    color: white;
    background: $myOrange;
  }
}
.navigation__item_active {
  background: $myOrange;
  color: white;
}
