@mixin open-sans($style: regular) {
  font-family: 'Open Sans';
  @if ($style==light) {
    font-weight: 100;
  }
  @if ($style==regular) {
    font-weight: 400;
  }
  @if ($style==semibold) {
    font-weight: 600;
  }
  @if ($style==bold) {
    font-weight: 700;
  }

}



@font-face {
  font-family: 'als_rublregular';
  src: url('/fonts/rouble-webfont.eot');
  src: url('/fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/rouble-webfont.woff2') format('woff2'),
  url('/fonts/rouble-webfont.woff') format('woff'),
  url('/fonts/rouble-webfont.ttf') format('truetype'),
  url('/fonts/rouble-webfont.svg#als_rublregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

.rub {
  font-family: 'als_rublregular';
  font-style: normal;

  &:after {
    content: 'a';

  }
}